<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FacebookHackLondon</display-name>
  <servlet>
    <description></description>
    <display-name>JasonListener</display-name>
    <servlet-name>JasonListener</servlet-name>
    <servlet-class>com.newswhip.api.JasonListener</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JasonListener</servlet-name>
    <url-pattern>/JasonListener</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AskVerify</display-name>
    <servlet-name>AskVerify</servlet-name>
    <servlet-class>com.newswhip.routes.AskVerify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AskVerify</servlet-name>
    <url-pattern>/AskVerify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmVerify</display-name>
    <servlet-name>ConfirmVerify</servlet-name>
    <servlet-class>com.newswhip.routes.ConfirmVerify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmVerify</servlet-name>
    <url-pattern>/ConfirmVerify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToFactChain</display-name>
    <servlet-name>AddToFactChain</servlet-name>
    <servlet-class>com.newswhip.routes.AddToFactChain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToFactChain</servlet-name>
    <url-pattern>/AddToFactChain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TranIdAndAddress</display-name>
    <servlet-name>TranIdAndAddress</servlet-name>
    <servlet-class>TranIdAndAddress.TranIdAndAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TranIdAndAddress</servlet-name>
    <url-pattern>/TranIdAndAddress</url-pattern>
  </servlet-mapping>
</web-app>